body {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.009em;

    color: $color--primary;
    background-color: $color--bg;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

h1 {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
}

h2 {
    font-size: 18px;
    line-height: 22px;
}

h3 {
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
}

.disable {
    display: none;
}

.btn {
    width: 100%;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
    color: $white;
    background-color: $color--red;
    border-radius: 4px;
    cursor: pointer;
}

.error {
    text-align: center;
    padding: 50px;
}