// Breakpoint

$breakpointA: 1110 + px;
$breakpointB: 980 + px;
$breakpointC: 768 + px;
$breakpointD: 479 + px;


// Colors

$color--primary: #000000;
$color--secondary: #B3B3B3;
$color--bg: #F2F2F2;
$color--border: #E6E6E6;
$color--red: #C93E33;
$color--orange: #E67E22;
$color--green: #27AE60;
$color--gray: #333333;
$white: #fff;
$alpha: rgba(255, 255, 255, 0);

